@charset "UTF-8";
@font-face {
  font-family: SansSerifExbFLF;
  src: url("../fonts/SansSerifExbFLF.otf");
}
@font-face {
  font-family: SegoeUI;
  src: url("../fonts/SEGOEUI.ttf");
}
@keyframes ellipsis {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.note_enchantee {
  margin-bottom: 15px;
  font-family: RJOETRIAL;
  font-weight: 600;
}

.chic_français {
  background-image: linear-gradient(45deg, #d8852e, #905bfd);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: CroissantOne;
  margin: 15px 0;
  font-size: 14px;
}

.delice_papilles {
  background-image: linear-gradient(45deg, #0431df, #0887fb);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: DancingScript;
  margin: 15px 0;
  font-size: 20px;
}

.palette_gout {
  background-image: linear-gradient(45deg, #42973c, #bfff7e);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: KaushanScript;
  margin: 15px 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: SansSerifExbFLF;
  height: 100%;
  font-size: 1em;
}

.page_container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  align-items: center;
}

header {
  display: table;
  flex-shrink: 1;
  width: 100%;
  height: 15vh;
  min-height: 30px;
  max-height: 60px;
}

.top_layer {
  display: table-cell;
  background-color: #569c87;
  color: #e8c353;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.top_layer h1 {
  font-kerning: none;
  font-size: 1.5em;
}

.top_layer h1 a {
  color: #e8c353;
  text-decoration: none;
  font-family: SansSerifExbFLF;
}

.central_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  top: 60px;
}

.main_container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  font-family: SegoeUI;
  margin: 20px 30px;
  background-color: white;
  height: 90%;
}

.card_deck {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.card_deck a {
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

.card {
  display: table;
  margin: 10px;
  padding: 0 5px;
  word-wrap: break-word;
  background-clip: border-box;
  height: 300px;
  width: 200px;
  box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
  transform: scale(1);
  transition: all 500ms;
}

.card:hover {
  transform: scale(1.1);
  opacity: 0.6;
  z-index: 10;
}

.salmon {
  background-color: #fcdfda;
}

.pink {
  background-color: #fff5fd;
}

.grey {
  background-color: #f9f9f9;
}

.white {
  background-color: #fdfffd;
}

.align_middle_center {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gradient_note {
  width: 20px;
  height: 20px;
  padding: 1rem;
  background-image: linear-gradient(45deg, #f04a5e, #f8a183);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  -moz-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -moz-mask-position: center;
  text-align: center;
  margin: 0 auto;
}

.menu1_menu-menu {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  font-weight: 600;
}

.menu2_menu-menu {
  font-family: Prociono;
  font-weight: 600;
  font-size: 1.1em;
  color: #c67412;
}

.menu3_menu-menu {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #0887fb;
}

.menu4_menu-menu {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #72bf56;
}

.lower_container {
  font-family: SegoeUI;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-self: center;
  text-align: center;
  height: 40px;
  width: 220px;
  border-radius: 5px;
  padding: 8px 0;
  margin-bottom: 50px;
  background: #569c87;
  color: #e8c353;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  transform: translateX(15px);
}
.btn:hover > .dotdotdot > .dot {
  background-color: white;
  animation: ellipsis 900ms both infinite ease-in-out;
}
.btn:hover > .dotdotdot > .dot2 {
  animation-delay: 300ms;
}
.btn:hover > .dotdotdot > .dot3 {
  animation-delay: 600ms;
}

.next {
  margin-right: 10px;
  text-align: center;
}

.dotdotdot {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  padding-bottom: 2px;
}

.dot {
  background-color: #569c87;
  height: 5px;
  width: 5px;
  margin-right: 5px;
  transform: scalex(1);
  transform-origin: left;
}

.bottom_container {
  font-family: SegoeUI;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  display: table;
  width: 100%;
}

.bottom_layer {
  display: table-cell;
  vertical-align: middle;
  background-color: #569c87;
  color: #e8c353;
  width: 50%;
  height: 40px;
}

.left {
  text-align: left;
  padding-left: 20px;
}

.right {
  text-align: right;
  padding-right: 20px;
}

.mentions_link {
  color: #e8c353;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}
.mentions_link:hover {
  animation: wiggle 800ms ease-in-out;
}

.contact_link {
  color: #e8c353;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}
.contact_link:hover {
  animation: wiggle 800ms ease-in-out;
}

@media (max-width: 500px) {
  @font-face {
    font-family: SansSerifExbFLF;
    src: url("../fonts/SansSerifExbFLF.otf");
  }
  @font-face {
    font-family: SegoeUI;
    src: url("../fonts/SEGOEUI.ttf");
  }
  @keyframes ellipsis {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
  }
  @keyframes wiggle {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  .note_enchantee {
    margin-bottom: 15px;
    font-family: RJOETRIAL;
    font-weight: 600;
  }

  .chic_français {
    background-image: linear-gradient(45deg, #d8852e, #905bfd);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: CroissantOne;
    margin: 15px 0;
    font-size: 14px;
  }

  .delice_papilles {
    background-image: linear-gradient(45deg, #0431df, #0887fb);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: DancingScript;
    margin: 15px 0;
    font-size: 20px;
  }

  .palette_gout {
    background-image: linear-gradient(45deg, #42973c, #bfff7e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: KaushanScript;
    margin: 15px 0;
    font-size: 20px;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: SansSerifExbFLF;
    height: 100%;
    font-size: 1em;
  }

  .page_container {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  header {
    display: table;
    flex-shrink: 1;
    width: 100%;
    height: 15vh;
    min-height: 30px;
    max-height: 60px;
  }

  .top_layer {
    display: table-cell;
    background-color: #569c87;
    color: #e8c353;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .top_layer h1 {
    font-kerning: none;
    font-size: 1.5em;
    font-family: SansSerifExbFLF;
  }

  .top_layer h1 a {
    color: #e8c353;
    text-decoration: none;
  }

  .central_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: stretch;
    top: 60px;
  }

  .main_container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    font-family: SegoeUI;
    margin: 20px 30px;
    background-color: white;
    height: 90%;
  }

  .card_deck {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  .card_deck a {
    color: inherit;
    font-family: inherit;
    text-decoration: inherit;
  }

  .card {
    display: table;
    margin: 10px;
    padding: 0 5px;
    word-wrap: break-word;
    background-clip: border-box;
    height: 225px;
    width: 150px;
    box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
    transform: scale(1);
    transition: all 500ms;
  }

  .card:hover {
    transform: scale(1.1);
    opacity: 0.6;
    z-index: 10;
  }

  .salmon {
    background-color: #fcdfda;
  }

  .pink {
    background-color: #fff5fd;
  }

  .grey {
    background-color: #f9f9f9;
  }

  .white {
    background-color: #fdfffd;
  }

  .align_middle_center {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .gradient_note {
    width: 20px;
    height: 20px;
    padding: 1rem;
    background-image: linear-gradient(45deg, #f04a5e, #f8a183);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0 auto;
  }

  .menu1_menu-menu {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    font-weight: 600;
  }

  .menu2_menu-menu {
    font-family: Prociono;
    font-weight: 600;
    font-size: 1.1em;
    color: #c67412;
  }

  .menu3_menu-menu {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #0887fb;
  }

  .menu4_menu-menu {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #72bf56;
  }

  .lower_container {
    font-family: SegoeUI;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: center;
    text-align: center;
    height: 40px;
    width: 220px;
    border-radius: 5px;
    padding: 8px 0;
    margin-bottom: 50px;
    background: #569c87;
    color: #e8c353;
  }

  .btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    transform: translateX(15px);
  }
  .btn:hover > .dotdotdot > .dot {
    background-color: white;
    animation: ellipsis 900ms both infinite ease-in-out;
  }
  .btn:hover > .dotdotdot > .dot2 {
    animation-delay: 300ms;
  }
  .btn:hover > .dotdotdot > .dot3 {
    animation-delay: 600ms;
  }

  .btn h6 {
    text-align: center;
    font-size: 1.3em;
  }

  .next {
    margin-right: 10px;
    text-align: center;
  }

  .dotdotdot {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding-bottom: 2px;
  }

  .dot {
    background-color: #569c87;
    height: 5px;
    width: 5px;
    margin-right: 5px;
    transform: scalex(1);
    transform-origin: left;
  }

  .bottom_container {
    font-family: SegoeUI;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer {
    display: table;
    width: 100%;
  }

  .bottom_layer {
    display: table-cell;
    vertical-align: middle;
    background-color: #569c87;
    color: #e8c353;
    width: 50%;
    height: 40px;
  }

  .left {
    text-align: left;
    padding-left: 20px;
  }

  .right {
    text-align: right;
    padding-right: 20px;
  }

  .mentions_link {
    color: #e8c353;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
  }
  .mentions_link:hover {
    animation: wiggle 800ms ease-in-out;
  }

  .contact_link {
    color: #e8c353;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
  }
  .contact_link:hover {
    animation: wiggle 800ms ease-in-out;
  }
}
@font-face {
  font-family: RJOETRIAL;
  src: url("../fonts/RJOETRIAL.otf");
}
@font-face {
  font-family: GothicA1-ExtraBold;
  src: url("../fonts/GothicA1-ExtraBold.ttf");
}
.menu1_name_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu1_label {
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  font-family: GothicA1-ExtraBold;
  font-size: 20px;
}

.menu1_container {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  height: 100%;
}

.menu1_central-container {
  background-color: #fcdfda;
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: 100%;
  width: 600px;
  box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
  margin-bottom: 90px;
}

.menu1_middle-container {
  padding: 0 35px;
}

section {
  margin-bottom: 30px;
}

.menu1_top-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: RJOETRIAL;
}

.menu1_gradient_note-top {
  text-align: center;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(45deg, #f04a5e, #f8a183);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  -moz-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -moz-mask-position: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

.menu1_first-course, .menu1_main-course, .menu1_last-course {
  display: block;
}

.menu1_course-header {
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menu1_div-paint-brush {
  padding-top: 5px;
  width: 160px;
  background-color: #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url(icons/paint_brush.svg);
  -webkit-mask-image: url(icons/paint_brush.svg);
  -moz-mask-image: url(icons/paint_brush.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  -moz-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -moz-mask-position: center;
}

.menu1_paint-brush {
  width: 160px;
}

.menu1_course-header h2 {
  display: inline-block;
  text-decoration: none;
}
.menu1_course-header h2:hover::after {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.menu1_course-header h2::after {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu1_course-content {
  margin-bottom: 40px;
}

.menu1_menu-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.menu1_price {
  font-weight: 700;
}

.menu1_course-content {
  width: 100%;
}

.menu1_bottom-section {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  position: relative;
}

.menu1_bottom-middle-container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}

.note-caption {
  padding-top: 45px;
  font-family: RJOETRIAL;
  margin-left: 5px;
}

.menu1_gradient_note-bottom {
  text-align: center;
  width: 70px;
  height: 70px;
  margin-right: 5px;
  background-image: linear-gradient(45deg, #f04a5e, #f8a183);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  -moz-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -moz-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -moz-mask-position: center;
  text-align: center;
  margin: 0;
}

@media (max-width: 600px) {
  .menu1_container {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    height: 100%;
  }

  .menu1_name_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .menu1_central-container {
    background-color: #fcdfda;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
    padding-bottom: 40px;
    margin-bottom: 90px;
  }

  .menu1_middle-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }

  section {
    margin-bottom: 30px;
  }

  .menu1_top-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: RJOETRIAL;
  }

  .menu1_gradient_note-top {
    text-align: center;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(45deg, #f04a5e, #f8a183);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  .menu1_first-course, .menu1_main-course, .menu1_last-course {
    display: block;
  }

  .menu1_course-header {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .menu1_div-paint-brush {
    padding-top: 5px;
  }

  .menu1_paint-brush {
    width: 100px;
  }

  .menu1_course-header h2 {
    display: inline-block;
    text-decoration: none;
  }
  .menu1_course-header h2:hover::after {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .menu1_course-header h2::after {
    display: block;
    content: "";
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .menu1_course-content {
    margin-bottom: 40px;
    font-size: 1em;
    padding: 0 10px;
  }

  .menu1_menu-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  .menu1_price {
    font-weight: 700;
    margin-left: 10px;
  }

  .menu1_course-content {
    width: 100%;
  }

  .menu1_bottom-section {
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .menu1_bottom-middle-container {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
  }

  .note-caption {
    padding-top: 45px;
    font-family: RJOETRIAL;
    margin-left: 5px;
  }

  .menu1_gradient_note-bottom {
    text-align: center;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    background-image: linear-gradient(45deg, #f04a5e, #f8a183);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0;
  }
}
@font-face {
  font-family: CroissantOne;
  src: url("../fonts/CroissantOne.ttf");
}
@font-face {
  font-family: Prociono;
  src: url("../fonts/Prociono.ttf");
}
@font-face {
  font-family: GothicA1-ExtraBold;
  src: url("../fonts/GothicA1-ExtraBold.ttf");
}
.menu2_name_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu2_label {
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  font-family: GothicA1-ExtraBold;
  font-size: 20px;
}

.menu2_container {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  height: 100%;
}

.menu2_central-container {
  background-color: #fff5fd;
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: 100%;
  width: 600px;
  box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
  margin-bottom: 90px;
}

.menu2_middle-container {
  padding: 0 35px;
}

section {
  margin-bottom: 30px;
}

.menu2_top-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: CroissantOne;
  margin: 50px 0;
}

.menu2_top-section h1 {
  background-image: linear-gradient(45deg, #d8852e, #905bfd);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

.menu2_first-course, .menu2_main-course, .menu2_last-course {
  display: block;
  font-family: Prociono;
}

.menu2_course-header {
  margin-bottom: 15px;
  text-align: center;
}

.menu2_course-header h2 {
  display: inline-block;
  text-decoration: none;
}
.menu2_course-header h2:hover::after {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.menu2_course-header h2::after {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu2_first-course {
  color: #c67412;
}
.menu2_first-course .menu2_course-header h2::after {
  border-bottom: solid 2px #c67412;
}

.menu2_main-course {
  color: #a56799;
}
.menu2_main-course .menu2_course-header h2::after {
  border-bottom: solid 2px #a56799;
}

.menu2_last-course {
  color: #6e4ccc;
}
.menu2_last-course .menu2_course-header h2::after {
  border-bottom: solid 2px #6e4ccc;
}

.menu2_course-content {
  margin-bottom: 40px;
}

.menu2_menu-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.menu2_course-content {
  width: 100%;
}

@media (max-width: 600px) {
  .menu2_name_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .menu2_label {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    font-family: GothicA1-ExtraBold;
    font-size: 20px;
  }

  .menu2_container {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    height: 100%;
  }

  .menu2_central-container {
    background-color: #fff5fd;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
    padding-bottom: 40px;
    margin-bottom: 90px;
  }

  .menu2_middle-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }

  section {
    margin-bottom: 30px;
  }

  .menu2_top-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: CroissantOne;
    margin: 50px 0;
  }

  .menu2_top-section h1 {
    background-image: linear-gradient(45deg, #d8852e, #905bfd);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  .menu2_first-course, .menu2_main-course, .menu2_last-course {
    display: block;
    font-family: Prociono;
  }

  .menu2_first-course {
    color: #c67412;
  }

  .menu2_main-course {
    color: #a56799;
  }

  .menu2_last-course {
    color: #6e4ccc;
  }

  .menu2_course-header {
    margin-bottom: 15px;
    text-align: center;
  }

  .menu2_course-header h2 {
    display: inline-block;
    text-decoration: none;
  }
  .menu2_course-header h2:hover::after {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .menu2_course-header h2::after {
    display: block;
    content: "";
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .menu2_course-content {
    margin-bottom: 40px;
    font-size: 1em;
    padding: 0 10px;
  }

  .menu2_menu-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  .menu2_price {
    margin-left: 10px;
  }

  .menu2_course-content {
    width: 100%;
  }
}
@font-face {
  font-family: DancingScript;
  src: url("../fonts/DancingScript.ttf");
}
@font-face {
  font-family: GothicA1-ExtraBold;
  src: url("../fonts/GothicA1-ExtraBold.ttf");
}
.menu3_name_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu3_label {
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  font-family: GothicA1-ExtraBold;
  font-size: 20px;
}

.menu3_container {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  height: 100%;
}

.menu3_central-container {
  background-color: #f9f9f9;
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: 100%;
  width: 600px;
  box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
  margin-bottom: 90px;
}

.menu3_middle-container {
  padding: 0 35px;
}

section {
  margin-bottom: 30px;
}

.menu3_top-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: DancingScript;
  margin: 50px 0;
}

.menu3_top-section h1 {
  background-image: linear-gradient(45deg, #0431df, #0887fb);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 60px;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

.menu3_first-course, .menu3_main-course, .menu3_last-course {
  display: block;
}

.menu3_course-header {
  margin-bottom: 25px;
  text-align: center;
}

.menu3_course-header h2 {
  display: inline-block;
  text-decoration: none;
}
.menu3_course-header h2:hover::after {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.menu3_course-header h2::after {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu3_course-content {
  margin-bottom: 40px;
}

.menu3_menu-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.menu3_course-content {
  width: 100%;
}

@media (max-width: 600px) {
  .menu3_name_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .menu3_label {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    font-family: GothicA1-ExtraBold;
    font-size: 20px;
  }

  .menu3_container {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    height: 100%;
  }

  .menu3_central-container {
    background-color: #f9f9f9;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
    padding-bottom: 40px;
    margin-bottom: 90px;
  }

  .menu3_middle-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }

  section {
    margin-bottom: 30px;
  }

  .menu3_top-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: DancingScript;
    margin: 50px 0;
  }

  .menu3_top-section h1 {
    background-image: linear-gradient(45deg, #0431df, #0887fb);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    font-weight: 100;
  }

  .menu3_first-course, .menu3_main-course, .menu3_last-course {
    display: block;
  }

  .menu3_course-header {
    margin-bottom: 25px;
    text-align: center;
  }

  .menu3_course-header h2 {
    display: inline-block;
    text-decoration: none;
  }
  .menu3_course-header h2:hover::after {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .menu3_course-header h2::after {
    display: block;
    content: "";
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .menu3_course-content {
    margin-bottom: 40px;
    font-size: 1em;
    padding: 0 10px;
  }

  .menu3_menu-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  .menu3_price {
    margin-left: 10px;
  }

  .menu3_course-content {
    width: 100%;
  }
}
@font-face {
  font-family: KaushanScript;
  src: url("../fonts/KaushanScript.ttf");
}
@font-face {
  font-family: GothicA1-ExtraBold;
  src: url("../fonts/GothicA1-ExtraBold.ttf");
}
.menu4_name_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu4_label {
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  font-family: GothicA1-ExtraBold;
  font-size: 20px;
}

.menu4_container {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  height: 100%;
}

.menu4_central-container {
  background-color: #fdfffd;
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: 100%;
  width: 600px;
  box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
  margin-bottom: 90px;
}

.menu4_middle-container {
  padding: 0 50px;
}

section {
  margin-bottom: 30px;
}

.menu4_top-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: KaushanScript;
  margin: 50px 0;
}

.menu4_top-section h1 {
  background-image: linear-gradient(45deg, #42973c, #bfff7e);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 60px;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

.menu4_first-course, .menu4_main-course, .menu4_last-course {
  display: block;
}

.menu4_course-header {
  margin-bottom: 25px;
  text-align: center;
}

.menu4_course-header h2 {
  display: inline-block;
  text-decoration: none;
}
.menu4_course-header h2:hover::after {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.menu4_course-header h2::after {
  display: block;
  content: "";
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu4_course-content {
  margin-bottom: 40px;
}

.menu4_menu-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.menu4_course-content {
  width: 100%;
}

@media (max-width: 600px) {
  .menu4_name_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .menu4_label {
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    font-family: GothicA1-ExtraBold;
    font-size: 20px;
  }

  .menu4_container {
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    height: 100%;
  }

  .menu4_central-container {
    background-color: #fdfffd;
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    box-shadow: 0px 1px 10px rgba(130, 130, 130, 0.3);
    padding-bottom: 40px;
    margin-bottom: 90px;
  }

  .menu4_middle-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }

  section {
    margin-bottom: 30px;
  }

  .menu4_top-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: KaushanScript;
    margin: 50px 0;
  }

  .menu4_top-section h1 {
    background-image: linear-gradient(45deg, #42973c, #bfff7e);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    font-weight: 100;
  }

  .menu4_first-course, .menu4_main-course, .menu4_last-course {
    display: block;
  }

  .menu4_course-header {
    margin-bottom: 25px;
    text-align: center;
  }

  .menu4_course-header h2 {
    display: inline-block;
    text-decoration: none;
  }
  .menu4_course-header h2:hover::after {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .menu4_course-header h2::after {
    display: block;
    content: "";
    border-bottom: solid 2px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .menu4_course-content {
    margin-bottom: 40px;
    font-size: 1em;
    padding: 0 10px;
  }

  .menu4_menu-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
  }

  .menu4_price {
    margin-left: 10px;
  }

  .menu4_course-content {
    width: 100%;
  }
}
@font-face {
  font-family: DancingScript;
  src: url("../fonts/DancingScript.ttf");
}
.mentions_container {
  font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
  height: 100%;
}

.mentions_central-container {
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 100px;
}

.mentions_middle-container {
  margin: 0 auto;
  width: 600px;
}

section {
  margin-bottom: 30px;
}

.mentions_top-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px 0;
}

.mentions_top-section h1 {
  font-family: SegoeUI;
  font-size: 60px;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}

.mentions_header {
  margin-bottom: 25px;
  text-align: center;
}

.mentions_header h2 {
  font-weight: 700;
}

.mentions_content {
  margin-bottom: 40px;
  width: 100%;
}

.mentions_content p {
  margin-bottom: 40px;
  width: 100%;
  font-weight: normal;
}

@media (max-width: 600px) {
  @font-face {
    font-family: DancingScript;
    src: url("../fonts/DancingScript.ttf");
  }
  .mentions_container {
    background-color: #f9f9f9;
    font-family: "Comic Sans MS", "Franklin Gothic Medium", "Arial Narrow", "Arial", sans-serif;
    height: 100%;
  }

  .mentions_central-container {
    padding-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 100px;
  }

  .mentions_middle-container {
    margin: 0 auto;
    width: 100%;
  }

  section {
    margin-bottom: 30px;
  }

  .mentions_top-section {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 20px 0;
  }

  .mentions_top-section h1 {
    font-family: SegoeUI;
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
    font-weight: 100;
  }

  .mentions_header {
    margin-bottom: 25px;
    text-align: center;
  }

  .mentions_header h2 {
    font-weight: 700;
  }

  .mentions_content {
    margin-bottom: 40px;
    width: 100%;
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
