
$primary: rgb(86, 156, 135);
$secondary: rgb(232, 195, 83);
$salmon:  rgb(252, 223, 218);
$pink: rgb(255, 245, 253);
$grey: rgb(249, 249, 249);
$ghost_white: rgb(253,255,253);


$dark-pink: #f04a5e;
$light-orange:#f8a183;
$brown: #d8852e;
$purple: #905bfd;
$dark-blue: #0431df;
$light-blue:#0887fb;
$dark-green: #42973c;
$light-green:#bfff7e;

$menu2_dark-orange:#c67412;
$menu2_dark-pink: #a56799;
$menu2_blue-violet: #6e4ccc;

$index-blue: #0887fb;
$index-green: #72bf56;