@font-face {
    font-family: DancingScript;
    src: url("../fonts/DancingScript.ttf");
  }

  @font-face {
    font-family: GothicA1-ExtraBold;
    src: url("../fonts/GothicA1-ExtraBold.ttf");
}

.menu3_name_container {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
}

.menu3_label {
    padding-top:40px;
    padding-bottom:15px;
    text-align:center;
    font-family: GothicA1-ExtraBold;
    font-size:20px;
}

.menu3_container {
    font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
    height:100%;
}

.menu3_central-container {
    background-color: $grey;
    padding-top:30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height:100%;
    width: 600px; 
    box-shadow: 0px 1px 10px rgba(130,130,130,0.3);
    margin-bottom: 90px;
}

.menu3_middle-container {
    margin: 0 auto;
    padding:0 15px;
}

section {
    margin-bottom: 30px;
}

.menu3_top-section {
    text-align:center;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    font-family: DancingScript;
    margin:50px 0;
}

.menu3_top-section h1 {
    background-image: linear-gradient(45deg, $dark-blue, $light-blue);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size:60px;
}

h2 {
    font-size:20px;
    font-weight:100;
}

.menu3_first-course, .menu3_main-course, .menu3_last-course {
    display:block;
}

.menu3_course-header {
    margin-bottom:25px;
    text-align:center;
}

.menu3_course-header h2 {
    display:inline-block;
    text-decoration:none;
    &:hover {
        &::after {
            transform-origin: 0% 50%;
            transform: scaleX(1); 
        }
    }
    &::after {
        display:block;
        content: "";
        border-bottom: solid 2px #000;  
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
}

.menu3_course-content {
    margin-bottom:40px;
}

.menu3_menu-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:100%;
    margin-bottom:15px;
}

.menu3_course-content {
    width:100%;
}


$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {

    .menu3_name_container {
        display:flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items:center;
    }
    
    .menu3_label {
        padding-top:40px;
        padding-bottom:15px;
        text-align:center;
        font-family: GothicA1-ExtraBold;
        font-size:20px;
    }

    .menu3_container {
        font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
        height:100%;
    }

    .menu3_central-container {
        background-color: $grey;
        padding-top:30px;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
        height:100%;
        width:80%;
        box-shadow: 0px 1px 10px rgba(130,130,130,0.3);
        padding-bottom:40px;
        margin-bottom: 90px;
    }
    
    .menu3_middle-container {
        margin: 0 auto;
        width: 100%; 
        padding:0 15px;
    }
    
    section {
        margin-bottom: 30px;
    }
    
    .menu3_top-section {
        text-align:center;
        display:flex;
        flex-flow:column nowrap;
        align-items:center;
        font-family: DancingScript;
        margin:50px 0;
    }
    
    .menu3_top-section h1 {
        background-image: linear-gradient(45deg, $dark-blue, $light-blue);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-size:35px;
    }
    
    h2 {
        font-size:20px;
        font-weight:100;
    }
    
    .menu3_first-course, .menu3_main-course, .menu3_last-course {
        display:block;
    }
    
    .menu3_course-header {
        margin-bottom:25px;
        text-align:center;
    }

    .menu3_course-header h2 {
        display:inline-block;
        text-decoration:none;
        &:hover {
            &::after {
                transform-origin: 0% 50%;
                transform: scaleX(1); 
            }
        }
        &::after {
            display:block;
            content: "";
            border-bottom: solid 2px #000;  
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
    }
    
    .menu3_course-content {
        margin-bottom:40px;
        font-size:1em;
        padding: 0 10px;
    }
    
    .menu3_menu-line {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width:100%;
        margin-bottom:15px;
    }

    .menu3_price {
        margin-left:10px;
    }
    
    .menu3_course-content {
        width:100%;
    }

  }