
@font-face {
  font-family: SansSerifExbFLF;
  src: url("../fonts/SansSerifExbFLF.otf");
}

@font-face {
  font-family: SegoeUI;
  src: url("../fonts/SEGOEUI.ttf");
}

$ellipsis-dur:300ms;

@keyframes ellipsis {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
}

$wiggle-dur:800ms;

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.note_enchantee {
  margin-bottom: 15px;
  font-family: RJOETRIAL;
  font-weight: 600;
}

.chic_français {
  background-image: linear-gradient(45deg, $brown, $purple);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: CroissantOne;
  margin: 15px 0;
  font-size:14px;
}

.delice_papilles {
  background-image: linear-gradient(45deg, $dark-blue, $light-blue);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: DancingScript;
  margin: 15px 0;
  font-size:20px;
}


.palette_gout {
  background-image: linear-gradient(45deg, $dark-green, $light-green);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family:KaushanScript;
  margin: 15px 0;
  font-size:20px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:SansSerifExbFLF;
  height: 100%;
  font-size:1em;
}

.page_container {
  display: flex;
  flex-flow:column wrap;
  height: 100%;
  width:100%;
  align-items:center;
}

header {
  display:table;
  flex-shrink: 1;
  width:100%;
  height:15vh;
  min-height:30px;
  max-height:60px;
}

.top_layer {
  display:table-cell;
  background-color:rgb(86, 156, 135);
  color:rgb(232, 195, 83);
  width:100%;
  text-align:center;
  vertical-align:middle;
}

.top_layer h1 {
  font-kerning:none;
  font-size:1.5em;
}

.top_layer h1 a {
  color:rgb(232, 195, 83);
  text-decoration:none;
  font-family:SansSerifExbFLF;
}

.central_container {
  display:flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  top: 60px;
}

.main_container {
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  font-family: SegoeUI;
  margin: 20px 30px;
  background-color: rgb(255,255,255);
  height:90%;
}

.card_deck {
  display:flex;
  flex-flow: row wrap;
  flex-shrink: 1; 
  height:100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow:hidden;
}

.card_deck a {
  color:inherit;
  font-family: inherit;
  text-decoration:inherit;
}

.card {
  display:table;
  margin: 10px;
  padding: 0 5px;
  word-wrap: break-word;
  background-clip: border-box;
  height:300px;
  width: 200px;
  box-shadow: 0px 1px 10px rgba(130,130,130,0.3);
	transform: scale(1);
	transition: all 500ms;
}

.card:hover {
  transform: scale(1.1);
  opacity: 0.6;
  z-index:10;
}

.salmon {
  background-color: $salmon;
}

.pink {
  background-color: $pink;
}

.grey {
  background-color: $grey;
}

.white {
  background-color: $ghost-white;
}

.align_middle_center {
  height:100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.gradient_note {
    width: 20px;
    height: 20px;
    padding: 1rem;

    background-image: linear-gradient(45deg, $dark-pink, $light-orange);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0 auto;
}

.menu1_menu-menu {
    font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
    font-weight:600;
}

.menu2_menu-menu {
    font-family: Prociono;
    font-weight:600;
    font-size:1.1em;
    color:$menu2_dark-orange;
}

.menu3_menu-menu {
  font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
  font-weight:400;
  font-size:1.1em;
  color: $index-blue;
}

.menu4_menu-menu {
  font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
  font-weight:400;
  font-size:1.1em;
  color: $index-green;
}

.lower_container {
  font-family: SegoeUI;
  display: flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-self:center;
  text-align: center;
  height:40px;
  width: 220px;
  border-radius:5px;
  padding: 8px 0;
  margin-bottom:50px;
  background: $primary;
  color: $secondary;
}

.btn {
  display: flex;
  flex-flow:row nowrap;
  justify-content:center;
  text-align: center;
  font-size:1.3em;
  cursor: pointer;
  transform: translateX(15px);
  &:hover > .dotdotdot > .dot {
    background-color:white;
    animation: ellipsis $ellipsis-dur*3 both infinite ease-in-out;
  }
  &:hover > .dotdotdot > .dot2 {
    animation-delay: $ellipsis-dur;
  }
  &:hover > .dotdotdot > .dot3 {
    animation-delay: $ellipsis-dur*2;
  }
}

.next {
  margin-right: 10px;
  text-align: center;
}

.dotdotdot {
  display: flex;
  flex-flow:row nowrap;
  align-items:flex-end;
  padding-bottom:2px;
}

.dot {
  background-color:$primary;
  height:5px;
  width: 5px;
  margin-right: 5px;
  transform: scalex(1);
  transform-origin: left;
}

.bottom_container {
  font-family: SegoeUI;
  display:flex;
  flex-flow: row nowrap;
  position:fixed;
  bottom:0;
  width:100%;
}

footer {
  display:table;
  width:100%;
}

.bottom_layer {
  display: table-cell;
  vertical-align:middle;
  background-color:$primary;
  color: $secondary;
  width:50%;
  height:40px;
}

.left {
  text-align:left;
  padding-left: 20px;
}

.right {
  text-align:right;
  padding-right: 20px;
}

.mentions_link {
  color: #e8c353;
  text-decoration:none;
  font-style:normal;
  display:inline-block;
  &:hover {
    animation: wiggle $wiggle-dur ease-in-out;
  }
}

.contact_link {
  color: #e8c353;
  text-decoration:none;
  font-style:normal;
  display:inline-block;
  &:hover {
    animation: wiggle $wiggle-dur ease-in-out;
  }
}



$breakpoint-tablet-index: 500px;
@media (max-width: $breakpoint-tablet-index) {
  
@font-face {
  font-family: SansSerifExbFLF;
  src: url("../fonts/SansSerifExbFLF.otf");
}

@font-face {
  font-family: SegoeUI;
  src: url("../fonts/SEGOEUI.ttf");
}


$ellipsis-dur:300ms;

@keyframes ellipsis {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
}

$wiggle-dur:800ms;

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.note_enchantee {
  margin-bottom: 15px;
  font-family: RJOETRIAL;
  font-weight: 600;
}

.chic_français {
  background-image: linear-gradient(45deg, $brown, $purple);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: CroissantOne;
  margin: 15px 0;
  font-size:14px;
}

.delice_papilles {
  background-image: linear-gradient(45deg, $dark-blue, $light-blue);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: DancingScript;
  margin: 15px 0;
  font-size:20px;
}


.palette_gout {
  background-image: linear-gradient(45deg, $dark-green, $light-green);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family:KaushanScript;
  margin: 15px 0;
  font-size:20px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:SansSerifExbFLF;
  height: 100%;
  font-size:1em;
}

.page_container {
  display: flex;
  flex-flow:column wrap;
  height: 100%;
  width:100%;
  align-items:center;
}

header {
  display:table;
  flex-shrink: 1;
  width:100%;
  height:15vh;
  min-height:30px;
  max-height:60px;
}

.top_layer {
  display:table-cell;
  background-color:rgb(86, 156, 135);
  color:rgb(232, 195, 83);
  width:100%;
  text-align:center;
  vertical-align:middle;
}


.top_layer h1 {
  font-kerning:none;
  font-size:1.5em;
  font-family: SansSerifExbFLF;
}

.top_layer h1 a {
  color:rgb(232, 195, 83);
  text-decoration:none;
}

.central_container {
  display:flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  top: 60px;
}

.main_container {
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  font-family: SegoeUI;
  margin: 20px 30px;
  background-color: rgb(255,255,255);
  height:90%;
}

.card_deck {
  display:flex;
  flex-flow: row wrap;
  flex-shrink: 1; 
  height:100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow:hidden;
}

.card_deck a {
  color:inherit;
  font-family: inherit;
  text-decoration:inherit;
}

.card {
  display:table;
  margin: 10px;
  padding: 0 5px;
  word-wrap: break-word;
  background-clip: border-box;
  height:225px;
  width: 150px;
  box-shadow: 0px 1px 10px rgba(130,130,130,0.3);
	transform: scale(1);
	transition: all 500ms;
}

.card:hover {
  transform: scale(1.1);
  opacity: 0.6;
  z-index:10;
}


.salmon {
  background-color: $salmon;
}

.pink {
  background-color: $pink;
}

.grey {
  background-color: $grey;
}

.white {
  background-color: $ghost-white;
}

.align_middle_center {
  height:100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.gradient_note {
    width: 20px;
    height: 20px;
    padding: 1rem;

    background-image: linear-gradient(45deg, $dark-pink, $light-orange);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0 auto;
}

.menu1_menu-menu {
    font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
    font-weight:600;
}

.menu2_menu-menu {
    font-family: Prociono;
    font-weight:600;
    font-size:1.1em;
    color:$menu2_dark-orange;
}

.menu3_menu-menu {
  font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
  font-weight:400;
  font-size:1.1em;
  color: $index-blue;
}

.menu4_menu-menu {
  font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
  font-weight:400;
  font-size:1.1em;
  color: $index-green;
}

.lower_container {
  font-family: SegoeUI;
  display: flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-self:center;
  text-align: center;
  height:40px;
  width: 220px;
  border-radius:5px;
  padding: 8px 0;
  margin-bottom:50px;
  background: $primary;
  color: $secondary;
}

.btn {
  display: flex;
  flex-flow:row nowrap;
  justify-content:center;
  text-align: center;
  font-size:1.3em;
  cursor: pointer;
  transform: translateX(15px);
  &:hover > .dotdotdot > .dot {
    background-color:white;
    animation: ellipsis $ellipsis-dur*3 both infinite ease-in-out;
  }
  &:hover > .dotdotdot > .dot2 {
    animation-delay: $ellipsis-dur;
  }
  &:hover > .dotdotdot > .dot3 {
    animation-delay: $ellipsis-dur*2;
  }
}

.btn h6 {
  text-align:center;
  font-size:1.3em;
}

.next {
  margin-right: 10px;
  text-align: center;
}

.dotdotdot {
  display: flex;
  flex-flow:row nowrap;
  align-items:flex-end;
  padding-bottom:2px;
}

.dot {
  background-color:$primary;
  height:5px;
  width: 5px;
  margin-right: 5px;
  transform: scalex(1);
  transform-origin: left;
}

.bottom_container {
  font-family: SegoeUI;
  display:flex;
  flex-flow: row nowrap;
  position:fixed;
  bottom:0;
  width:100%;
}

footer {
  display:table;
  width:100%;
}

.bottom_layer {
  display: table-cell;
  vertical-align:middle;
  background-color:$primary;
  color: $secondary;
  width:50%;
  height:40px;
}

.left {
  text-align:left;
  padding-left: 20px;
}

.right {
  text-align:right;
  padding-right: 20px;
}

.mentions_link {
  color: #e8c353;
  text-decoration:none;
  font-style:normal;
  display:inline-block;
  &:hover {
    animation: wiggle $wiggle-dur ease-in-out;
  }
}

.contact_link {
  color: #e8c353;
  text-decoration:none;
  font-style:normal;
  display:inline-block;
  &:hover {
    animation: wiggle $wiggle-dur ease-in-out;
  }
}

}