
@font-face {
    font-family: RJOETRIAL;
    src: url("../fonts/RJOETRIAL.otf");
  }

  @font-face {
    font-family: GothicA1-ExtraBold;
    src: url("../fonts/GothicA1-ExtraBold.ttf");
  }

.menu1_name_container {
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;
}

.menu1_label {
    padding-top:40px;
    padding-bottom:15px;
    text-align:center;
    font-family: GothicA1-ExtraBold;
    font-size:20px;
}

.menu1_container {
    font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
    height:100%;
}

.menu1_central-container {
    background-color: $salmon;
    padding-top:30px;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    height:100%;
    width: 600px; 
    box-shadow: 0px 1px 10px rgba(130,130,130,0.3);
    margin-bottom: 90px;
}

.menu1_middle-container {
    margin: 0 auto;
    padding:0 15px;
}

section {
    margin-bottom: 30px;
}

.menu1_top-section {
    text-align:center;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    font-family: RJOETRIAL;
}

.menu1_gradient_note-top {
    text-align: center;
    width: 70px;
    height: 70px;

    background-image: linear-gradient(45deg, $dark-pink, $light-orange);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

h1 {
    font-size:35px;
}

h2 {
    font-size:20px;
}

.menu1_first-course, .menu1_main-course, .menu1_last-course {
    display:block;
}

.menu1_course-header {
    margin-bottom:15px;
    text-align:center;
}

.menu1_course-header h2 {
    display:inline-block;
    text-decoration:none;
    &:hover {
        &::after {
            transform-origin: 0% 50%;
            transform: scaleX(1); 
        }
    }
    &::after {
        display:block;
        content: "";
        border-bottom: solid 2px #000;  
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }
}

.menu1_course-content {
    margin-bottom:40px;
}

.menu1_menu-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width:100%;
    margin-bottom:15px;
}

.menu1_price {
    font-weight:700;
}

.menu1_course-content {
    width:100%;
}

.menu1_bottom-section {
    text-align:center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width:100%;
    position:relative;
}

.menu1_bottom-middle-container {
    margin: 0 auto;
    width: 600px; 
    text-align:center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position:relative;
}

.note-caption {
    padding-top:45px;
    font-family: RJOETRIAL;
    margin-left:5px;
}

.menu1_gradient_note-bottom {
    text-align: center;
    width: 70px;
    height: 70px;
    margin-right:5px;

    background-image: linear-gradient(45deg, $dark-pink, $light-orange);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    -webkit-mask-size: 100%;
    -moz-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    -moz-mask-position: center;
    text-align: center;
    margin: 0;
}


$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {

    .menu1_container {
        font-family: "Comic Sans MS", 'Franklin Gothic Medium', 'Arial Narrow', "Arial", sans-serif;
        height:100%;
    }

    .menu1_name_container {
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items:center;
    }
    
    .menu1_central-container {
        background-color: $salmon;
        padding-top:30px;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
        height:100%;
        width:80%;
        box-shadow: 0px 1px 10px rgba(130,130,130,0.3);
        padding-bottom:40px;
        margin-bottom: 90px;
    }
    
    .menu1_middle-container {
        margin: 0 auto;
        width: 100%; 
        padding:0 15px;
    }
    
    section {
        margin-bottom: 30px;
    }
    
    .menu1_top-section {
        text-align:center;
        display:flex;
        flex-flow:column nowrap;
        align-items:center;
        font-family: RJOETRIAL;
    }
    
    .menu1_gradient_note-top {
        text-align: center;
        width: 70px;
        height: 70px;
    
        background-image: linear-gradient(45deg, $dark-pink, $light-orange);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
        -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
        -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
        mask-size: 100%;
        -webkit-mask-size: 100%;
        -moz-mask-size: 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        -moz-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        -moz-mask-position: center;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    
    h1 {
        font-size:35px;
    }
    
    h2 {
        font-size:20px;
    }
    
    .menu1_first-course, .menu1_main-course, .menu1_last-course {
        display:block;
    }
    
    .menu1_course-header {
        margin-bottom:15px;
        text-align:center;
    }

    .menu1_course-header h2 {
        display:inline-block;
        text-decoration:none;
        &:hover {
            &::after {
                transform-origin: 0% 50%;
                transform: scaleX(1); 
            }
        }
        &::after {
            display:block;
            content: "";
            border-bottom: solid 2px #000;  
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
    }
    
    .menu1_course-content {
        margin-bottom:40px;
        font-size:1em;
        padding: 0 10px;
    }
    
    .menu1_menu-line {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width:100%;
        margin-bottom:15px;
    }
    
    .menu1_price {
        font-weight:700;
        margin-left:10px;
    }
    
    .menu1_course-content {
        width:100%;
    }
    
    .menu1_bottom-section {
        text-align:center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width:100%;
        position:relative;
    }
    
    .menu1_bottom-middle-container {
        margin: 0 auto;
        width: 600px; 
        text-align:center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        position:relative;
    }
    
    .note-caption {
        padding-top:45px;
        font-family: RJOETRIAL;
        margin-left:5px;
    }

    .menu1_gradient_note-bottom {
        text-align: center;
        width: 70px;
        height: 70px;
        margin-right:5px;
    
        background-image: linear-gradient(45deg, $dark-pink, $light-orange);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    
        mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
        -webkit-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
        -moz-mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
        mask-size: 100%;
        -webkit-mask-size: 100%;
        -moz-mask-size: 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        -moz-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        -moz-mask-position: center;
        text-align: center;
        margin: 0;
    }
    
    
    





  }