
@font-face {
  font-family: SansSerifExbFLF;
  src: url("../fonts/SansSerifExbFLF.otf");
}

@font-face {
  font-family: SegoeUI;
  src: url("../fonts/SEGOEUI.ttf");
}

/*
.chic_français {
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-clip: text;
  text-fill-color: transparent;
}
*/
.chic_français {
  background-image: linear-gradient(45deg, $brown, $purple);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.delice_papilles {
  background-image: linear-gradient(45deg, $dark-blue, $light-blue);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


.palette_gout {
  background-image: linear-gradient(45deg, $dark-green, $light-green);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:SansSerifExbFLF;
  height: 100%;
  font-size:1em;
}

.page_container {
  display: flex;
  flex-flow:column wrap;
  height: 100%;
  width:100%;
  align-items:center;
}

header {
  display:table;
  flex-shrink: 1;
  width:100%;
  height:15vh;
  min-height:30px;
  max-height:60px;
}

.top_layer {
  display:table-cell;
  background-color:rgb(86, 156, 135);
  color:rgb(232, 195, 83);
  width:100%;
  text-align:center;
  vertical-align:middle;
}

.top_layer h1 {
  letter-spacing:-1;
  font-kerning:none;
  font-size:1.5em;
}

.central_container {
  display:flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  top: 60px;
  overflow-y: auto;
}

.main_container {
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  font-family: SegoeUI;
  margin: 20px 30px;
  background-color: rgb(255,255,255);
  height:90%;
}

.card_deck {
  display:flex;
  flex-flow: row wrap;
  flex-shrink: 1; 
  height:100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow:hidden;
}

.card {
  display:table;
  margin: 10px;
  padding: 0 5px;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  height:300px;
  width: 200px;
}

.salmon {
  background-color: $salmon;
}

.pink {
  background-color: $pink;
}

.grey {
  background-color: $grey;
}

.white {
  background-color: $ghost-white;
}

.align_middle_center {
  height:100%;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

/*
svg#music_note {
  height:15px;
  width:15px;
  background: rgb(243,209,205);
  fill: url(#my-cool-gradient) rgba(243,209,205,1);
  filter: invert(0%) sepia(100%) saturate(1450%) hue-rotate(351deg) brightness(103%) contrast(109%);
}
*/

.gradient_note {
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 1rem;

    background-image: linear-gradient(45deg, $dark-pink, $light-orange);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url(https://cdn.onlinewebfonts.com/svg/img_41444.svg);
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
}


.lower_container {
  font-family: SegoeUI;
  display: flex;
  flex-flow:row nowrap;
  align-self:center;
  text-align: center;
  height:40px;
  width: 200px;
  margin-bottom:50px;
}


.btn {
  text-align:center;
  width:100%;
  border-radius:5px;
  padding: 8px 0;
  height:40px;

  background: $primary;
  color: $secondary;
  cursor: pointer;
  transform:scale(1);
}

.btn h6 {
  text-align:center;
  font-size:1.3em;
}


.bottom_container {
  font-family: SegoeUI;
  display:flex;
  flex-flow: row nowrap;
  position:fixed;
  bottom:0;
  width:100%;
}

footer {
  display:table;
  width:100%;
}

.bottom_layer {
  display: table-cell;
  vertical-align:middle;
  background-color:$primary;
  color: $secondary;
  width:50%;
  height:40px;
}

.left {
  text-align:left;
  padding-left: 20px;
}

.right {
  text-align:right;
  padding-right: 20px;
}